@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.container-hero img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.movie-title {
  font-size: 15px;
  text-decoration: none;
  color: black;
}

.width-col {
  display: grid;
  grid-template-columns: 250px 400px 500px;
}
.nav1 {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b402d7f7-c4c1-49a2-bb94-efc966c1f884/d5nft8z-e112d83c-f877-4f3b-bd34-3ad78524c429.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2I0MDJkN2Y3LWM0YzEtNDlhMi1iYjk0LWVmYzk2NmMxZjg4NFwvZDVuZnQ4ei1lMTEyZDgzYy1mODc3LTRmM2ItYmQzNC0zYWQ3ODUyNGM0MjkucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.8NH5ZBn8JzBmkf0O6lYkUeV4vFWSYe_7YY0UTF1WAU0);
  width: "100px";
}

.image-movie {
  width: 150px;
  height: 150px;
}

@media (max-width: 720px) {
  .width-col {
    display: block;
  }
}

.navv {
  margin-top: 65px;
  background-color: blanchedalmond;
}

.containerError {
  background-color: #fbfffe;
  border-color: #fbfffe;
  margin: 0%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-size: 100% auto;
  padding-bottom: 40px;
}

.titleError {
  color: #96031a;
  font-weight: 550;
}

.foot {
  text-decoration: none;
  color: black;
}
.foot:hover {
  transition: 2s;
  color: white;
  cursor: pointer;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fondito {
  background-image: url(https://www.shutterstock.com/image-illustration/smartphone-blank-screen-popcorn-film-260nw-2005239014.jpg);
  background-repeat: no-repeat;
  width: 430px;
  height: 260px;
  justify-content: center;
  align-items: center;
  border-radius: 25px, 25px, 25px, 23px;
}

.contenido {
  border-radius: 10px;
  position: relative;
}

.btn-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.btn-cards {
  background-color: "#FAA916";
}

.btn-cards:hover {
  background-color: blanchedalmond;
  transition: 2s;
  text-decoration: none;
}
