@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.modal-content {
  background-color: #faa916;
}

.formulario > div {
  margin-bottom: 20px;
}

.formulario label {
  display: block;
  font-weight: 00;
  font-size: 20px;
  margin-bottom: 5px;
  color: #1f1f1f;
}

.formulario input {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #b8b8b8;
  font-size: 15px;
  padding: 5px;
  margin-bottom: 5px;
  color: #000000;
}

.formulario input:focus {
  outline: none;
  border: 2px solid #96031a;
}

.formulario .error {
  color: red;
  font-weight: 600;
  font-size: 12px;
  margin-left: 5px;
}

.btn-cerrar {
  background: #fbfffe;
  font-weight: bold;
  color: #1b1b1b;
}

.btn-registrar {
  background: #fbfffe;
  font-weight: bolder;
  color: #1b1b1b;
}

.btn-registrar:hover {
  color: #fbfffe;
  background: #96031a;
}

.btn-cerrar:hover {
  color: #fbfffe;
  background: #96031a;
}
